<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
  <div class="container-fluid">
    <%= link_to image_tag("logo.png"), root_path %>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100">
        <li class="nav-item p-1"><%= link_to "Released Movies", movies_path, class: "nav-link" %></li>
        <li class="nav-item p-1"><%= link_to "Upcoming Movies", filtered_movies_path(:upcoming), class: "nav-link" %></li>
        <li class="nav-item p-1"><%= link_to "Recent Movies", filtered_movies_path(:recent), class: "nav-link" %></li>
        <% if current_user %>
          <li class="nav-item p-1 ms-auto"><%= link_to "Sign Out", session_path, data: { turbo_method: :delete }, class: "btn btn-outline-warning" %></li>
          <li class="nav-item p-1"><%= link_to current_user.name.upcase, current_user, class: "nav-link" %></li>
        <% else %>
          <li class="nav-item p-1 ms-auto"><%= link_to "Sign In", new_session_path, class: "btn btn-outline-light" %></li>
          <li class="nav-item p-1"><%= link_to "Sign Up", signup_path, class: "btn btn-outline-light" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
