<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
  <div class="container-fluid">
    <%= link_to image_tag("logo.png"), root_path %>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100">
        <li class="nav-item p-1"><%= link_to "Movies", movies_path, class: "nav-link" %></li>
        <li class="nav-item p-1 ms-auto"><%= link_to "Add", new_movie_path, class: "btn btn-primary" %></li>
        <li class="nav-item p-1"><%= link_to "Sign in", new_session_path, class: "btn btn-outline-light" %></li>
        <li class="nav-item p-1"><%= link_to "Sign up", signup_path, class: "btn btn-outline-light" %></li>
      </ul>
    </div>
  </div>
</nav>
